@{
  Layout = "_Layout";
}

@model UniversityRoster.Models.Student

<h2>Edit</h2>

<h4>Edit this task: @Html.DisplayFor(model => model.Description)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.StudentId)

    @Html.LabelFor(model => model.Description)
    @Html.EditorFor(model => model.Description)

    @Html.Label("Select course")
    @Html.DropDownList("CourseId")

    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Add a Course", "AddCourse", new { id = Model.StudentId })</p>

<p>@Html.ActionLink("Back to list", "Index")</p>